#titulo{
	
	font-size:			18px;
	font-weight:		bold;
	height:				21px;
	padding-top:		22px;
	background: url(../img/titulo_bg.png) no-repeat;
	color:				#1f1f1f;
	margin-top:			0px;
	padding:	 	 22px 0px 2px 8px;	
}

#contenido{
	
}
