/* Dashboard LF1 2014  */
/* www.ligaformula1.com*/

/*Saldo*/
span.saldo{
	font-size: 25px;
	color:#148B00;
	font-family: "Trebuchet MS","tahoma";
}

/*alertas*/
.noti-info {
    color: #414147;
    padding-left: 0px;
    padding-top: 0px;
}

.dropdown-menu.extended li a.noti-menu:hover {
    background-color: #1FB5AD;
    border: 1px solid #1EA77C;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.dropdown-menu.extended li a.noti-menu {
    background-color: #1FB5AD;
    border: 1px solid #1EA77C;
    color: #FFFFFF;
    margin-bottom: 10px;
}


/*hall of fame*/
ul.notification-meta li span{
	color:#B1C697;
}
ul.notification-meta li span a{
	color:#5A9910;
	font-weight: 600;
}

.notification-info p {
    color: #5C5C5C;
    font-size: 12px;
    margin: 0;
}
.notification-info {
    margin-left: 56px;
    margin-top: -45px;
}

.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 8px;
}
.alert-hall-msg{
	background-color: #F2F2F2;

}

span.hall-avatar{
	display: block;
}
span.hall-avatar img{
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin-bottom: 2px;
}


div.temporizador{
	text-align: center;
	min-height: 164px;
}

div.temporizador div.nextGP{
	font-size:30px;
	color:#1FB5AD;
}

div#countDownt span.digitot{
	color: #F96C01;
    font-size: 24px;
}
div#countDownt span.letrat{
	color: #702900;
    font-size: 25px;
}

/*Notificaciones*/
.dropdown-menu.tasks-bar .task-info .desc {
    
	width: 100%;
}
.dropdown-menu > li > a{
	white-space: inherit;
}

/*Ultimos fichajes*/
div.driver-box{
	display: inline-block;
}
div.driver-box img{
	 border: 10px solid #F1F2F7;
    border-radius: 4%;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-top: 0;
    width: 100px;
}

/*Sidebar RIGHT*/

div.post-foro{
	padding:6px;
	margin-left: 6px;
	
}
div.post-foro a{
	color: #D6D6D6;
	font-size: 14px;
}

/*GRUPOS*/
a.group-join-btn{
	color: #fff;
	text-decoration: none;
}
a.group-join-btn:hover{
	color: #BEFF8B;
	text-decoration: none;
}

    
.conversation-list .chat-avatar {
    display: inline-block;
    float: left;
    text-align: center;
    width: 60px;
}
.conversation-list .chat-avatar i {
    display: block;
    font-size: 9px;
    width: 60px;
}
.conversation-list .odd2 .ctext-wrap {
    background: none repeat scroll 0 0 #FFFABB !important;
}

.conversation-list .odd2 .ctext-wrap:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(213, 242, 239, 0) #FFF7B3 rgba(213, 242, 239, 0) rgba(213, 242, 239, 0);
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 20%;
    width: 0;
}

.conversation-list .odd2 .ctext-wrap i {
    color: #AB981E;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    position: relative;
}

/*grupos mensajes identificador*/
a.num-msg-grp{
    color: #D7CD74;
    font-family: Arial;
    font-size: 11px;
    cursor: pointer;
}
a.num-msg-grp-g{
    color: #D2D1CF;
    font-family: Arial;
    font-size: 11px;
    cursor: pointer;
}

a.num-msg-grp-b{
    color: #81CDEB;
    font-family: Arial;
    font-size: 11px;
    cursor: pointer;
}


/*Mis Pilotos*/
.corner-ribon i {
    color: #FFFFFF;
    padding: 11px 0 0 25px;
}
.corner-ribon {
    font-size: 21px;
    height: 71px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 86px;
}

.black-ribon {
    background: url("../../images/vender_piloto_green.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.label-success2 {
    background-color: #22D96F;
}


/*Grupos*/

div.box-usuario
{
    display: inline-block;
    width: 90px;
    position: relative;
    padding:5px;
    margin-bottom: 5px;
    background-color: #F7F7F7;
    border-radius: 4px;

}
div.box-image
{
    margin-bottom: 10px;
}
div.box-image img
{
    width: 80px;
    max-height: 80px;
    min-height: 80px;

}

div.box-nick 
{
    font-size: 12px;
    text-align: center;
}

a.box-delete
{
    background-color: #FF0000;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
    height: 20px;
    position: absolute;
    right: 11px;
    text-align: center;
    top: 0;
    width: 20px;
}


img.round-pilots{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

img.round-pilots-big{
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

/*img en blanco y negro*/
img.desaturada { filter: grayscale(100%); }
img.desaturada { filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: url(filter.svg#gris);
filter: gray;
}


/*Mejoras*/
.clock-row{
    text-transform: none;
}
ul.nivel-mejoras{
    margin: 0;
    background-color:#ccc;
    border-bottom: 1px solid #000;
}

ul.nivel-mejoras li {
    background-color: #EFEFEF;
    border: 0 none;
    color: #B0B0B0;
    display: block;
    float: left;
    font-size: 20px;
    height: 67px;
    margin: 0;
    padding: 16px 0 0;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 10%;
    border-bottom: 1px solid #000;
}
ul.nivel-mejoras li:last-child
{
    border-bottom: 1px solid #000;
}

ul.nivel-mejoras li.active1 {
    background-color: #E1EFFF;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active2 {
    background-color: #BAE2FF;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active3 {
    background-color: #A5CEF9;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active4 {
    background-color: #66B5FF;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active5 {
    background-color: #917AFC;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active6 {
    background-color: #8E40FF;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active7 {
    background-color: #C74DEB;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active8 {
    background-color: #CB7429;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active9 {
    background-color: #BE3900;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}
ul.nivel-mejoras li.active10 {
    background-color: #FF0000;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #660202;
}

.user-heading.alt {
    display: inline-block;
    height: 190px;
    text-align: left;
    width: 100%;
}
.terques-bg {
    background: none repeat scroll 0 0 #365C8B;
}


/*panel-body-stiki*/
header.panel-heading-stiki
{
    background-color: #E19C14;
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px;
}
div.panel-body-stiki
{
    background-color: #FFEBC9;
    color: #AA6308;
    padding: 15px;
}

/*Calendario*/
.panel-calendario {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 100%;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 30px;
    height: 95px;
    line-height: 60px;
    margin-right: 10px;
    text-align: center;
    width: 60px;
}
span.cal-pais-txt
{
    font-size: 12px;
    display: inline-block;
}
span.cal-fecha
{
    font-size: 10px;
    display: inline-block;
    margin-left: 10px;
    color: #256AE7;
}

.img-trazado{
    max-width: 625px;
    width:100%;
}
/*panel-body-calendario*/
header.panel-heading-circuito
{
    
}
div.panel-body-circuito
{
    
}

/*clasificaciones*/
.mi-posicion td
{
    background-color: #FFF0E7  !important;
    color: #D06F01 !important;
    font-weight: bold;
}

.rank-posicion{
    color: #313C48;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}