<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Untitled Document</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
		
		<script type='text/javascript' src='jquery.js'></script>
		<script type='text/javascript' src='kwicks.js'></script>
		<script type='text/javascript' src='custom.js'></script>
	</head>
	<body>
		
		<ul class="kwicks">
		
		     <li id="kwick1"><a href="#">Home</a></li>
		     <li id="kwick2"><a href="#">Contact</a></li>
		     <li id="kwick3"><a href="#">Downloads</a></li>
		     <li id="kwick4"><a href="#">Search</a></li>
 		</ul>
		
		
	</body>
</html>
